[submodule "ggd/ggd-lib"]
	path = ggd/ggd-lib
	url = https://github.com/gauciouss/-ggd-lib.git
[submodule "ggd/ggd-auth"]
	path = ggd/ggd-auth
	url = https://github.com/gauciouss/ggd-auth.git
[submodule "ggd/ggd-core"]
	path = ggd/ggd-core
	url = https://github.com/gauciouss/ggd-core.git
[submodule "ggd/ggd-js"]
	path = ggd/ggd-js
	url = https://github.com/gauciouss/ggd-js.git
